[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/netpaladinx/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/netpaladinx/netpaladinx.github.io.git
	branch = master
